/* Write your CSS code here */
.author-pic {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
.image {
  width: cover;
}
.blog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.author-details{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}