.app-store-container {
  background-color: #fff1eb;
  padding: 20px;
}

.main-heading {
  font-family: 'Bree Serif';
  font-size: 24px;
  color: #1e293b;
  text-align: center;
}

.tabs-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #dfe2e5;
  border-radius: 4px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.apps-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}
