.tab-item {
  list-style-type: none;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  border-bottom: 2px solid transparent;
}

.tab-button.active {
  border-bottom: 2px solid #2563eb;
  font-weight: bold;
}

.tab-button:hover {
  color: #2563eb;
}
