/* Write CSS here */
.card {
  box-shadow: 0px 4px 16px 0px #;
}
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size:initial;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.timerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
