.circular-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #10b981; /* Blue color */
  color: #fff; /* White color for text */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the letter bold */
  margin-right: 10px; /* Add margin to separate from password details */
}

.password-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add margin between password items */
}

.password-details {
  flex: 1; /* Take remaining space */
}
