/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: white;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  cursor: pointer;
  padding: 10px;
  height: 500px;
  width: 500px;
  border-radius: 6px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 35px;
  color: #0b69ff;
  font-weight: 500;
  font-family: 'Roboto';

}
.para {
  font-size: 30px;
  font-family: 'Roboto';
  color: #333333;
  margin-top: 20px;
  text-align: center;
}

.buttonEl {
  background-color: #0b69ff;
  color: white;
  font-size: 10px;
  border: 0px;
  border-radius: 6px;
  height: 30px;
  width: 90px;
  margin-top: 20px;
}
