/* Write your CSS code here */
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

img {
  width: 30vw;
  align-self: center;
}
