/* Write your CSS here */
.capitals-app-container {
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.heading {
  color: #1e293b;
  font-size: 24px;
  margin-bottom: 10px;
}

.subheading {
  color: #64748b;
  font-size: 18px;
  margin-bottom: 20px;
}

.capital-select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.country-display {
  color: #323f4b;
  font-size: 18px;
  font-weight: bold;
}
