/* Write your CSS code here */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.image {
  width: 200px;
}
.container {
  display: flex;
  align-items: center;
}
.cc {
  padding: 10px;
}
.container2 {
  display: flex;
  align-items: center;
}
